<html>

<head>
    <meta charset=UTF-8" />
    <title>Моя страница</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/dist/bootstrap.min.js"></script>
    <script src ="js/dist/tmpl.js"></script>
    <script src ="js/dist/script.js"></script>
</head>
<body>
    <script type="text/template" id="test">
        <div class="container-fluid">
		    <div class="row">
			    <div class="col-xs-12" "header">
                    <h3 class="text-left"><%= title %></h3>
			    </div>
        <ul>
            <% for (var i=0; i < qBase.length; i++){ %>
                <li>
                  <h3> <%= qBase[i].qText %> </h3>
                     <form name="qForm">
                        <ul>
                          <% for (var j=1; j < 4; j++){ %>
                             <li><label class="label1" for="qForm__ch<%=i%><%=j%>" >
                                  <input type="checkbox" id="qForm__ch<%=i%><%=j%>">
                                  <%= qBase[i].answers[j-1] %></label>
							</li>
                                   <% }; %>
                        </ul>
                     </form>
                </li>
                <% }; %>
        </ul>
    <button type="button" class="btn btn-success" id="checkanswers" data-toggle="modal" data-target="#modal-1" ><%= checkValue %></button>
   	</div>
</script>
    <div class="modal fade"  id="modal-1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Результаты теста</h4>
      </div>
      <div class="modal-body" id="resulttest">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>


</html>